extends layout

block fullpage
  .topBanner
    .topBannerLeft
      a(href='/' class='flatLink') Home
    .topBannerRight
      if (username)
        span Hi #{username} -&nbsp;
        a(href='/logout' class='flatLink') logout
      else
        a(href='/login' class='flatLink') login
  .mainBody
    block content
