extends banner

block content
  if (username)
    center
      h1= title
    if (username)
      a(href='/apiui') api exerciser
  else
    center
      h1= title
    center
      p Welcome to #{title}
