html
{
  border:   0px;
}

body
{
  margin:   0px;
  padding:  10px;
  border:   0px;
  font-family: Helvetica, Verdana, Arial Narrow, sans-serif;
  font-size: medium;
  color: #4b4b4b;
}

div.center
{
  text-align: center;
}

div.login
{
  display: inline-block;
  margin:   10px;
  margin-top: 50px;
  padding:  15px;
  border:   1px solid #7171f4;
  background-color: #f1f1fe;
  border-radius: 5px;
}

.loginButton
{
  background-color: #3e4695;
  border: 0px;
  border-radius: 5px;
  color: #dddddd;
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left:   10px;
  padding-right:  10px;
  text-align: center;
}

.entryBlock
{
  margin:   10px;
  padding:  10px;
  display: block;
}

.entryField
{
  padding-left:   5px;
  padding-right:  5px;
  display: inline-block;
}

.loginCredentials
{
  background-color: #f7f7f7;
  border: 1px solid #9b9b9b;
  border-radius: 3px;
  color: #4b4b4b;
  padding: 5px;
}
